body {
    background-color:azure;
    color:#333333;
    font-family: 'VT323', serif;
}

.album-desc {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-bottom: 0;
}

.album-title {
    margin: 0;
}

.album-img {
/*CRUCIAL: If we don't set width to 100%, image will keep its original size. By doing this, it will inherit the width of its column, set on .album grid-template-columns: 150px 1fr, which is 150px wide.*/
    width: 100%;
    box-shadow: 0px 3px 12px rgba(0,0,0,0.1);
}

.albums {
    display: grid;
    grid-gap: 16px;
    
/*Creates as many columns as needed, with a min of 300px and max of 100%*/
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    
/*I want to center vertically the album*/
    align-items: center;
}

.album {
    background-color: rgba(0,0,0,0.05);
    padding: 16px;
/*Although album is a grid item, we can also make it a grid element*/
    display: grid;
    
/*We need a 150px column (width of img) and the rest will be filled by the .album-details*/
    grid-template-columns: 150px 1fr;
    
/*The row goes all the way from top to bottom (100% of height)*/
    grid-template-rows: 1fr;
    grid-gap: 16px;

/*All the items (img and album-details) must start on the top*/
    align-items: start;
}