<head>
    <title>Learning CSS Grid</title>
    <link rel="stylesheet" type="text/css" href="gallery.css">

    <!-- TYPEFACE -->
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
</head>

<body>
    <div class="albums">
        <div class="album">
            <img src="https://spark.adobe.com/images/landing/examples/design-music-album-cover.jpg" alt="" class="album-img">
            <div class="album-details">
                <h2 class="album-title">Album Title</h2>
                <p class="album-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="album">
            <img src="https://spark.adobe.com/images/landing/examples/design-music-album-cover.jpg" alt="" class="album-img">
            <div class="album-details">
                <h2 class="album-title">Album Title</h2>
                <p class="album-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="album">
            <img src="https://spark.adobe.com/images/landing/examples/design-music-album-cover.jpg" alt="" class="album-img">
            <div class="album-details">
                <h2 class="album-title">Album Title</h2>
                <p class="album-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="album">
            <img src="https://spark.adobe.com/images/landing/examples/design-music-album-cover.jpg" alt="" class="album-img">
            <div class="album-details">
                <h2 class="album-title">Album Title</h2>
                <p class="album-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="album">
            <img src="https://spark.adobe.com/images/landing/examples/design-music-album-cover.jpg" alt="" class="album-img">
            <div class="album-details">
                <h2 class="album-title">Album Title</h2>
                <p class="album-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="album">
            <img src="https://spark.adobe.com/images/landing/examples/design-music-album-cover.jpg" alt="" class="album-img">
            <div class="album-details">
                <h2 class="album-title">Album Title</h2>
                <p class="album-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="album">
            <img src="https://spark.adobe.com/images/landing/examples/design-music-album-cover.jpg" alt="" class="album-img">
            <div class="album-details">
                <h2 class="album-title">Album Title</h2>
                <p class="album-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="album">
            <img src="https://spark.adobe.com/images/landing/examples/design-music-album-cover.jpg" alt="" class="album-img">
            <div class="album-details">
                <h2 class="album-title">Album Title</h2>
                <p class="album-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="album">
            <img src="https://spark.adobe.com/images/landing/examples/design-music-album-cover.jpg" alt="" class="album-img">
            <div class="album-details">
                <h2 class="album-title">Album Title</h2>
                <p class="album-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="album">
            <img src="https://spark.adobe.com/images/landing/examples/design-music-album-cover.jpg" alt="" class="album-img">
            <div class="album-details">
                <h2 class="album-title">Album Title</h2>
                <p class="album-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="album">
            <img src="https://spark.adobe.com/images/landing/examples/design-music-album-cover.jpg" alt="" class="album-img">
            <div class="album-details">
                <h2 class="album-title">Album Title</h2>
                <p class="album-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="album">
            <img src="https://spark.adobe.com/images/landing/examples/design-music-album-cover.jpg" alt="" class="album-img">
            <div class="album-details">
                <h2 class="album-title">Album Title</h2>
                <p class="album-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
</body>
